*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
	
	/* Variables For Storing Colors */
	--primary-clr: #208245;
	--primary-medium-clr: #d8e9df;
	--primary-light-clr: #edfaf1;
	--bg-clr-1: #ffffff;
	--dark-heading-clr: #232d39;
	--dark-text-clr: #6c757d;
	--light-heading-clr: #efefef;
	--light-text-clr: #cecece;
}
/*   === Global Styling Starts ===   */
button.btn{
	padding: 10px 18px;
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	font-size: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
button.btn:hover{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
	border: 1px solid var(--primary-clr);
}
.section-header h1{
	position: relative;
	font-size: 32px;
	letter-spacing: 1px;
	color: var(--dark-heading-clr);
	margin-bottom: 20px;
}
.section-header h1::before{
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	left: 0;
	top: calc(100% + 5px);
	background-color: var(--dark-text-clr);
}
.section-header h1::after{
	position: absolute;
	content: '';
	width: 50px;
	height: 3px;
	left: 0;
	top: calc(100% + 4px);
	background-color: var(--primary-clr);
}
.section-header p{
	color: var(--dark-text-clr);
	margin-bottom: 40px;
	max-width: 700px;
}
/*   === Global Styling Ends ===   */
body{
	width: 100%;
	min-height: 100vh;
}
.website-container{
	width: 100%;
	max-width: 1400px;
	min-height: 100vh;
	margin: 0px auto;
}
/*   === Home Section Styling Starts ===   */
section.home{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: var(--primary-light-clr);
}
.home .main-navbar{
	position: absolute;
	width: 100%;
	max-width: 1400px;
	height: 12vh;
	max-height: 80px;
	background-color: var(--primary-clr);
	padding: 0px 8%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.home.active .main-navbar{
	position: fixed;
	top: 0;
	margin: 0px auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
	animation: showMenu 0.6s ease-in;
}
@keyframes showMenu{
	from{
		transform: translateY(-100px);
	}
	to{
		transform: translateY(0px);
	}
}
.main-navbar .logo{
	text-decoration: none;
}
.main-navbar .logo img{
	width: 120px;
	height: auto;
}
.main-navbar .nav-list{
	list-style: none;
}
.main-navbar .nav-list li{
	display: inline-block;
	margin: 0px 10px;
}
.main-navbar .nav-list li a{
	position: relative;
	color: var(--light-heading-clr);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}
.main-navbar .nav-list li a::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--light-heading-clr);
	left: 0;
	top: calc(100% + 2px);
	transition: all 0.3s;
	transform: scaleX(0);
}
.main-navbar .nav-list li a:hover::after{
	transform: scaleX(1);
}
.main-navbar .get-started-btn{
	background-color: var(--light-heading-clr);
	color: var(--primary-clr);
}
.main-navbar .get-started-btn:hover{
	background-color: var(--primary-clr);
	color: var(--light-heading-clr);
	border: 1px solid var(--light-heading-clr);
}
.main-navbar .menu-btn{
	min-width: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	display: none;
}
.main-navbar .menu-btn span{
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--light-heading-clr);
	border-radius: 5px;
	transition: all 0.4s;
}
.main-navbar .menu-btn span::before,
.main-navbar .menu-btn span::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	background-color: var(--light-heading-clr);
	transition: all 0.4s;
}
.main-navbar .menu-btn span::before{
	transform: translateY(-9px);
}
.main-navbar .menu-btn span::after{
	transform: translateY(9px);
}