*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
html{
	scroll-behavior: smooth;
	
	/* Variables For Storing Colors */
	--primary-clr: #208245;
	--primary-medium-clr: #d8e9df;
	--primary-light-clr: #edfaf1;
	--bg-clr-1: #ffffff;
	--dark-heading-clr: #232d39;
	--dark-text-clr: #6c757d;
	--light-heading-clr: #efefef;
	--light-text-clr: #cecece;
}